@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
  background-color: #c5e4e7;

  /* font settings */
  font-family: Space Mono, Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 62.5%;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  /* variables */
  --title-fsz: 6rem;
  --input-fsz: 2.4rem;
}

/* Removes the arrow for number input */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

body {
  margin: 0;
}

h1 {
  font-size: var(--title-fsz);
}
