/* percentage btns */
.percentage__container {
  margin: 20px 0;
}

.percentage__btn {
  min-width: 100px;
  height: 50px;
  border-radius: 5px;
}

.percentage__btn--dark {
  background-color: var(--dark-green);
  color: white;
}

.percentage__btn--light {
  background-color: var(--light-gray);
  color: var(--dark-green);
}

.percentage__label {
  font-size: 1.8rem;
  font-weight: 600;
  color: var(--dark-green);
}

/* Input box */
.input-box {
  padding: 2.5px 15px;
  border-radius: 5px;
  background-color: var(--light-gray);

  display: grid;
  grid-template-columns: 1fr 5fr;
  align-items: center;
}

.input-box__input {
  height: 100%;
  width: 100%;

  font: inherit;
  font-size: var(--input-fsz);
  font-weight: 600;
  color: var(--dark-green);

  text-align: right;
  background-color: var(--light-gray);
}

.percentage__form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

@media (min-width: 600px) {
  .percentage__form {
    grid-template-columns: repeat(3, 1fr);
  }
}
