/* percentage btns */
.percentage__container {
  margin: 20px 0;
}

.percentage__btn {
  min-width: 100px;
  height: 50px;
  border-radius: 5px;

  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 90;
}

input[type='radio'] {
  opacity: 0;
  position: fixed;
  width: 0;
  z-index: 100;
}

input[type='radio']:checked + .percentage__btn--dark {
  background-color: var(--green-cyan);
}

.percentage__btn--dark {
  background-color: var(--dark-green);
  color: white;
}

.percentage__btn--dark:hover {
  background-color: color-mix(in srgb, var(--green-cyan) 50%, white);
  color: var(--dark-green);
}

.percentage__btn--light {
  background-color: var(--light-gray);
  color: var(--dark-green);
}

.percentage__btn--light:hover {
  box-shadow: 0 0 0 2px var(--green-cyan);
}

.percentage__label {
  font-size: 1.8rem;
  font-weight: 600;
  color: var(--dark-green);
  text-align: left;
}

/* Input field */
.label__container {
  display: flex;
  justify-content: space-between;
}

.label__container p {
  font-size: 1.6rem;
  font-weight: 600;
  color: var(--alert);
  margin: 0;
  text-align: right;
}

.input-box {
  padding: 2.5px 15px;
  border-radius: 5px;
  background-color: var(--light-gray);

  display: grid;
  grid-template-columns: 1fr 5fr;
  align-items: center;
}

.input-box--invalid {
  box-shadow: 0 0 0 2px var(--alert) !important;
}

.input-box:hover {
  box-shadow: 0 0 0 2px var(--green-cyan);
}

.input-box__input {
  height: 100%;
  width: 100%;

  font: inherit;
  font-size: var(--input-fsz);
  font-weight: 600;
  color: var(--dark-green);

  text-align: right;
  background-color: var(--light-gray);
}

.percentage__form {
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

@media (min-width: 600px) {
  .percentage__form {
    grid-template-columns: repeat(3, 1fr);
  }
}
