.total__card {
  background-color: var(--dark-green);
  border-radius: 15px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.total__amount {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.total__value {
  font-size: 3.2rem;
  font-weight: 700;
  margin: 0;
  color: var(--green-cyan);
}

/* The main label and the sublabel */
.total__label h2 {
  color: white;
  font-size: 1.7rem;
  margin: 2px 0;
}

.total__label p {
  display: block;
  font-size: 1.2rem;
  font-weight: 400;
  color: var(--cyan-gray);
  margin: 0;
}

/* Reset btn */
.reset__btn {
  color: var(--dark-green);
  border-radius: 5px;
  padding: 10px;
  width: 100%;
  transition: all 0.3s ease-out;
}

.reset__btn--active {
  background-color: var(--green-cyan);
}

.reset__btn--active:hover {
  background-color: #9fe8df;
}

.reset__btn--unactive {
  background-color: var(--cyan-gray);
  cursor: not-allowed;
}
