.total__card {
  background-color: var(--dark-green);
  border-radius: 15px;
  padding: 30px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.total__label {
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-size: var(--input-fsz);
  font-weight: 600;
  color: white;

  margin-bottom: 30px;
}

.reset__btn {
  background-color: var(--green-cyan);

  border: none;
  border-radius: 5px;

  color: var(--dark-green);
  font-size: var(--input-fsz);
  font-weight: 600;

  padding: 10px;
  width: 100%;
}

.total__value {
  font-size: 3.2rem;
  margin: 0;
  color: var(--green-cyan);
}

.label__main {
  font-size: 1.5rem;
  margin: 0;
}

.label__sub {
  font-size: 1.2rem;
  font-weight: 400;
  color: #1698a1;
  margin: 0;
}
